<div class="border">
<h2>Your bookings has been confirmed</h2>
<b>Booking ID: </b>
<b>Flight Details:</b><br>
<div class="grid-item">
Number:<br>
Source:<br>
Destination:<br>
Departure:<br>
Arrival:<br>
</div><br>

<b>Passenger Details:</b><br>
<div class="grid-container">
    <div class="grid-item">
        Passenger 1:<br>
        Name:<br>
        Age:
        Gender:
        Id:</div>
    <div class="grid-item">
        Passenger 2:<br>
        Name:<br>
        Age:
        Gender:
        Id:</div>
    <div class="grid-item">
        Passenger 3:<br>
        Name:<br>
        Age:
        Gender:
        Id:</div>  
    <div class="grid-item">
        Passenger 4:<br>
        Name:<br>
        Age:
        Gender:
        Id:</div>
  </div><br>
  Contact Number:<br><br>
  Billing Address:<br><br>

<button class="align">Download eTicket</button><br><br>
    
</div>
