<h2 class="bold">Your Bookings:</h2>
<div class="border">
<h2>Booking ID: {{ticketid}}</h2>
<b>Flight Details:</b><br>
<div class="grid-item">
Number:{{flightnumber}}<br>
Source:<br>
Destination:<br>
Departure:<br>
Arrival:<br>
</div><br>

<b>Passenger Details:</b><br>
<div class="grid-container">
    <div>
        Passenger 1:<br>
        Name:<br>
        Age:
        Gender:
        Id:</div>
    <div>
        Passenger 2:<br>
        Name:<br>
        Age:
        Gender:
        Id:</div>
    <div>
        Passenger 3:<br>
        Name:<br>
        Age:
        Gender:
        Id:</div>  
    <div>
        Passenger 4:<br>
        Name:<br>
        Age:
        Gender:
        Id:</div>
  </div><br>
  Contact Number:<br><br>
  Billing Address:<br><br>
  <div class="flex-container">
    <div><button class="align" routerLink="/download">Download eTicket</button></div>
    <div><button class="align">Cancel</button></div>
  </div>
</div>
