<h2 class="bold">Modify Schedule Flights:</h2>
<div class="grid-container">
    <div >Enter Schedule flight id:</div>
    <div><input type="text" ></div>
    <div><button>Search</button></div>  
    <div>Details:</div>
    <div></div>
    <div ></div>  
    <div>Source airport:</div>
    <div><input type="text"></div>
    <div ></div>
    <div>Destination airport:</div>
    <div><input type="text"></div>
    <div ></div>
    <div >Departure time:</div>
    <div ><input type="time"></div>
    <div ></div>
    <div>Arrival time:</div>
    <div ><input type="time"></div>
    <div></div>  
    <div >Ticket cost:</div>
    <div ><input type="text"></div>
    <div ></div>  
    <div ></div>
    <div ></div>
    <div ><button>Modify</button></div>  
  </div>
  
