<div class="flex-container">
  <button routerLink="/addflight">Add</button>
  <button routerLink="/flight">View</button>
  <button routerLink="/updateflight">Update</button>
  <button routerLink="/searchflight">Search</button>
</div>
<div class="one">
    <input type="text" placeholder="Flight Id:xxxx" id="fid" requried><br><br>
    <input type="text" placeholder="Flight Model:xxxx" id="fmodel"  requried><br><br>
    <input type="text" placeholder="Carrier Name:xxxx" id="cname"  requried><br><br>
    <input type="text" placeholder="Seat Capacity::xxxx"id="sc" requried><br><br>
    <div class="grid-container">
  <button class="add" routerLink="add">Search</button>
  <button class="reset">Reset</button>
</div>
</div>