<div class="con">

    <button disabled class="one">WELCOME ADMIN!!!!</button><br><br>
   <div class ="left">
     <button routerLink="/addflight">ADD A FLIGHT</button><br><br>
     <button routerLink="/searchflight">SEARCH A FLIGHT</button><br><br>
     <button routerLink="/updateflight">UPDATE FLIGHTS AVAILABLE</button><br><br>

   </div>

   <div class="right">

      <button routerLink="/addflightschedule">SCHEDULE A FLIGHT</button><br><br>
      <button routerLink="/searchflightschedule">SEARCH SCHEDULED FLIGHT</button><br><br>
      <button routerLink="/updateflightschedule">UPDATE SCHEDULED FLIGHT</button><br><br>

   </div>
</div>
