<div id="border">
    <h2>Booking Details:</h2><br><br>
    Details:
    <div class="grid-container">
        <div class="item1"><img src="{{personimg}}" alt="jpg"></div> 
        <div class="item2"><input type="text" placeholder="Passenger Name"></div>
        <div class="item3"><input type="text" placeholder="Age"></div> 
        <div class="item4"><input type="text" placeholder="Gender"></div>
        <div class="item5"><input type="text" placeholder="ID Number"></div> 
        <div class="item1"><img src="{{personimg}}" alt="jpg"></div> 
        <div class="item2"><input type="text" placeholder="Passenger Name"></div>
        <div class="item3"><input type="text" placeholder="Age"></div> 
        <div class="item4"><input type="text" placeholder="Gender"></div>
        <div class="item5"><input type="text" placeholder="ID Number"></div> 
        <div class="item1"><img src="{{personimg}}" alt="jpg"></div> 
        <div class="item2"><input type="text" placeholder="Passenger Name"></div>
        <div class="item3"><input type="text" placeholder="Age"></div> 
        <div class="item4"><input type="text" placeholder="Gender"></div>
        <div class="item5"><input type="text" placeholder="ID Number"></div> 
        <div class="item1"><img src="{{personimg}}" alt="jpg"></div> 
        <div class="item2"><input type="text" placeholder="Passenger Name"></div>
        <div class="item3"><input type="text" placeholder="Age"></div> 
        <div class="item4"><input type="text" placeholder="Gender"></div>
        <div class="item5"><input type="text" placeholder="ID Number"></div> 
    </div>
      *Maximum 4 persons for Booking <br><br>
      Billing Address:
      <div class="grid-container1">
        <div class="item1"><img src="{{homeimg}}" alt="jpg"></div>
        <div class="item7"><input type="text" placeholder="Address"></div>
        <div class="item1"><img src="{{mobileimg}}" alt="jpg"></div>
        <div class="item8"><input type="text" placeholder="Contact Number"></div>
    </div>
    *Booking confirmation will be send to the above contact number<br><br>
    <input type="checkbox">
    I agree to the terms and conditions<br><br> 
    
    <button class="align" routerLink="/bookingdetails">Confirm Booking</button><br><br>
</div>